@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');
@import "https://unpkg.com/open-props";

:root {
    --main: #8a0b00;
    --white: #ffffff;
}

:root {
    --motion-ease: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --motion-duration: 0.3s;
}


* {
    transition: ease-in-out all 450ms;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
}

header {
    background: white;


    top: 40px;
    z-index: 99;

    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 1) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.2) inset;

}

a {
    color: inherit;
}

a:hover {

    text-decoration: none;
}

.banner {
    padding: 0;
    overflow: hidden;
    position: relative;
}

.layer {
    position: absolute;
    inset: 0;
    display: grid;
    z-index: 9;
    place-content: center;
}

.layer h2 {

    color: white;
    text-shadow: 0 0 10px transparent;

    font-weight: 600;
    text-transform: uppercase;
    /* background: url('https://images.unsplash.com/photo-1501166222995-ff31c7e93cef?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTcyMDc2NzU&ixlib=rb-1.2.1&q=80');
    background-size: cover;
    -webkit-text-fill-color: transparent; */
    background-position: right;
    filter: saturate(0) brightness(0.8) contrast(4);
    -webkit-background-clip: text;
}

.btncstm {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.3), -12px -12px 24px 0 rgba(255, 255, 255, 0.1);
    font-size: 1.1rem;
    background: var(--main);
    transition: ease-in-out all 1s !important;
    color: #fff;
    padding: 0.7em 1.5em;
    text-transform: capitalize;
    border-radius: 5px;
}

.btncstm:hover {
    color: white;
    box-shadow: 0 0 10px;
}



.offerCard {
    padding: 20px;
    border: 1px solid #efefef;
    text-align: center;
}

.offerCard:hover {
    background-color: var(--main);
}

.offerCard h5 {
    text-transform: capitalize;

}

.offerCard:hover h5 {
    color: white;
}

#serviceIcon {
    background-image: url('../img/icons/advice.png');
    width: 128px;
    height: 128px;
    margin: 0 auto;
}


.offerCard:hover #serviceIcon {
    background-image: url('../img/icons/advicehover.png');
}

#service {
    background-image: url('../img/icons/customer-service.png');
    width: 128px;
    height: 128px;
    margin: 0 auto;
}


.offerCard:hover #service {
    background-image: url('../img/icons/customer-hover.png');
}

#time {
    background-image: url('../img/icons/time.png');
    width: 128px;
    height: 128px;
    margin: 0 auto;
}


.offerCard:hover #time {
    background-image: url('../img/icons/timehover.png');
}

#money {
    background-image: url('../img/icons/money-banking.png');
    width: 128px;
    height: 128px;
    margin: 0 auto;
}


.offerCard:hover #money {
    background-image: url('../img/icons/money-banking-hover.png');
}



.banner::before {
    position: absolute;
    content: '';
    inset: 0;
    background: linear-gradient(to top, rgba(248, 87, 87, 0.262), transparent)
}

section {
    padding: 60px 0;
}

p {
    font-size: 14px;
    color: #555;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 1px;
}

.custmnav li a {
    display: inline-block;

    border: 1px solid transparent;
    text-transform: capitalize;
    color: var(--main) !important;
}

.custmnav li a:hover {
    background: #8a0b00;
    color: white !important;
    border: 1px solid var(--main);
    border-radius: 10px;
}

/* main heading design */
h1 {
    margin: 0;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-text-stroke: 2px #000000;
    text-stroke: 1px black;
    color: transparent;
}

.fleet {
    background: url('../img/sliderimage.png') fixed left;
    background-size: cover;

    position: relative;
}

.fleet::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: var(--main);
}

.fleet p {
    color: rgba(255, 255, 255, 0.7);

}

.fleet h3 {
    color: white;
    font-weight: 600;
}


ul {
    list-style-type: none;
}

ul li {
    padding: 10px 0;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex h5 {
    text-transform: capitalize;

    color: white;
    margin: 0;
}

.flex p {
    margin: 0;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.7);
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}

.addressBar {
    background: var(--main);
}

.addressflex {
    display: flex;
    gap: 40px;
    padding: 20px 0;
    justify-content: space-between;
}

.contact {
    display: flex;
    align-items: center;

    gap: 20px;
}

.contact p {
    margin: 0;
    color: white;
}

.contact h5 {
    color: white;
    margin: 0;
}

.contact img {
    width: 40px;
}

.contactCards {
    background: #333;
    padding: 20px 0;
}

.links h5 {
    position: relative;
    color: white;
}

.links h5::before {
    content: '';
    position: absolute;
    height: 5px;
    width: 40px;
    background: white;
    bottom: -10px;
    left: 0;
}

.links ul li a {
    color: white;
}

.links ul li {
    padding: 8px 0;
    color: white;
    text-transform: capitalize;
}

.links ul li:hover {
    padding-left: 10px;
}

.breadcrumb {
    padding: 0;
    background: url('../img/sliderimage.png') no-repeat center;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.breadcrumb::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(to top, white, transparent);
    /* background: rgba(138, 11, 0, .2); */
}

.breadcrumb h1 {
    text-align: center;
    color: var(--main);
    -webkit-text-stroke: unset;


}

.links p {
    color: rgba(255, 255, 255, 0.7);
}

.text-justifiy {
    text-align: justify;
}

.line {
    height: 5px;
    width: 8%;
    margin-left: 5px;
    margin-bottom: 10px;
    background: var(--main);
}

.visiontab {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid #efefef;
    border-radius: 10px;

}

.visiontab:hover {
    background: linear-gradient(145deg, #e4e2e2, #f0f0f0);
    box-shadow: 20px 20px 60px #dadada,
        -20px -20px 60px #ffffff;
}


.cardtxt h5 {
    text-transform: capitalize;
    margin: 0;
}

.contactnow {
    position: relative;
    padding: 6rem 0;
    background: url('../img/contactimg.jpg') no-repeat fixed bottom;
    background-size: cover;
    z-index: 1;
}

.contactnow h1 {
    text-shadow: 0 0 10px #333;
}

.contactnow::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: rgba(138, 11, 0, .3);
}

.serviceCard {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid #dfdfdf;
}

.serviceCard:hover {
    box-shadow: 0 0 10px #dfdfdf;
}

.servicetxt {
    padding: 10px;
    background: #f9f9fb;
}

.servicetxt p {
    margin: 0;
    text-align: justify;
}

.whycard {
    padding: 20px 0;
    display: flex;
    gap: 20px;
}

.whycard h6 {
    font-size: 1.2rem;
    font-weight: 600;
}

.callnow {
    background: url('../img/req.jpg') no-repeat center fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.callnow::after {
    z-index: -1;
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
}

label {
    margin: 0;
    font-size: 14px;
    text-transform: capitalize;
}

input,
textarea {
    padding: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    width: 100%;
}

#submit {
    border: 0;
    cursor: pointer;
}

.formcard {
    padding: 20px 10px;
    border: 1px solid #f9f9fb;
}

@media (min-width:320px) {

    header {

        position: unset;
        border-radius: unset;

    }

    .custmnav li a {
        padding: 10px 0;
    }

    .banner {
        height: unset;

    }

    #about {
        flex-direction: column-reverse;
    }

    .layer h2 {
        font-size: 2.5rem;
        line-height: auto;
    }

    .fleet::before {

        width: 100%;
        opacity: 0.8;
    }

    h1 {
        font-size: 3.2rem;

    }

    .addressflex {
        flex-direction: column;
        align-items: unset;
    }

    .breadcrumb {

        height: auto;
    }

    .breadcrumb h1 {
        padding-top: 3rem;
    }
}

@media(min-width:1200px) {
    header {
        position: absolute;
        left: 80px;

        right: 80px;
        border-radius: 10px;


    }

    #about {
        flex-direction: unset;
    }

    .custmnav li a {
        padding: 10px 20px !important;

    }

    .banner {
        height: 750px;
    }

    .layer h2 {
        font-size: 5.5rem;
        line-height: 0.9;
    }

    .fleet::before {

        width: 50%;
        opacity: 1;
    }

    h1 {
        font-size: 3.5rem;

    }

    .addressflex {
        flex-direction: row;
        align-items: center;

    }

    .breadcrumb {
        height: 300px;

    }

    .breadcrumb h1 {
        padding-top: 10rem;
    }
}